<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/admin">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Trang chủ</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/lichsuck">
        <i class="icon-phone menu-icon"></i>
        <span class="menu-title">Lịch sử chuyển tiền</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/managerphone">
        <i class="icon-phone menu-icon"></i>
        <span class="menu-title">Quản lý Số điện thoại</span>
      </a>
    </li>
  </ul>
</nav>